body{
	color: #333333;
	font-family: Arial;
	font-size: 20px;
	margin: 0;
}
#top a {
	color: #D9D9D9;
	text-decoration: none;
}
#top a:hover {
	color: #FFFFFF;
}
#top {
	background-color: #333333;
	padding: 10px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}
#top h1 {
	margin: 0;
	font-size: 32px;
}
#menu {
	margin-left: auto;
}
#menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	overflow: hidden;
}
#menu ul li{
	float: left;
}
#menu ul li a {
	display: block;
	padding: 10px;
	text-align: center;
}
#menu ul li a:hover {
	color: #333333;
	background-color: #D9D9D9;
}
#noticias-destacadas figure {
	margin: 0px;
}
#noticias-destacadas figcaption {
	background-color: #333333;
	padding: 15px;
}
#noticias-destacadas h2 {
	margin: 0px;
	font-size: 36px;
	color: #FFFFFF; 
}
#noticias-destacadas img {
	display: block;
	width: 100%;
}
.noticia {
	padding: 10px;
	border-bottom: solid 1px #CCCCCC;
	display: flex;
	flex-flow: row;
	align-items: center;
}
#ultimas-noticias img {
	width: 350px;
	margin: 10px;
	margin-left: 40px;
}
.noticia-text {
	margin-left: 30px;
	color: black;
}
.noticia-text h3 {
	font-size: 32px;
	margin: 0px;
}
.noticia-text a {
	color: black;
	text-decoration: none;
}
.noticia-text a:hover {
	color: red;
}
.noticia-text p {
	font-size: 18px;
}
.noticia-text-2 {
	margin-left: 30px;
	color: black;
}
.noticia-text-2 h3 {
	font-size: 32px;
	margin: 0px;
}
.noticia-text-2 a {
	color: black;
	text-decoration: none;
}
.noticia-text-2 a:hover {
	color: red;
}
.noticia-text-2 p {
	font-size: 18px;
}
.noticia-2 {
	padding: 10px;
	border-bottom: solid 1px #CCCCCC;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.noticia-text-3 {
	margin-left: 30px;
	color: black;
}
.noticia-text-3 h3 {
	font-size: 32px;
	margin: 0px;
}
.noticia-text-3 a {
	color: black;
	text-decoration: none;
}
.noticia-text-3 a:hover {
	color: red;
}
.noticia-text-3 p {
	font-size: 18px;
}
.noticia-3 {
	padding: 10px;
	border-bottom: solid 1px #CCCCCC;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.noticia-text-4 {
	margin-left: 30px;
	color: black;
}
.noticia-text-4 h3 {
	font-size: 32px;
	margin: 0px;
}
.noticia-text-4 a {
	color: black;
	text-decoration: none;
}
.noticia-text-4 a:hover {
	color: red;
}
.noticia-text-4 p {
	font-size: 18px;
}
.noticia-4 {
	padding: 10px;
	border-bottom: solid 1px #CCCCCC;
	display: flex;
	flex-flow: row;
	align-items: center;
}